@using Microsoft.AspNetCore.Identity
@using GenesisBugTracker.Models.Enums
@using GenesisBugTracker.Services.Interfaces

@inject SignInManager<BTUser> SignInManager
@inject UserManager<BTUser> UserManager
@inject IBTRolesService RolesService


@{
    BTUser btUser = await UserManager.GetUserAsync(User);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TheBugTracker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- Title -->
    <title>Genesis Cohort BugTracker</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="~/img/favicon/favicon-32x32.png">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/css/animate.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/plugins/bootstrap/bootstrap.min.css">

    <!-- Font awesome CSS -->
    <link rel="stylesheet" href="~/plugins/font-awesome/font-awesome.min.css">

    <!-- Themify Icon CSS -->
    <link rel="stylesheet" href="~/plugins/themify-icons/themify-icons.css">

    <!-- Perfect Scrollbar CSS -->
    <link rel="stylesheet" href="~/plugins/perfect-scrollbar/perfect-scrollbar.min.css">

    <!-- Jvector CSS -->
    <link rel="stylesheet" href="~/plugins/jvector/css/jquery-jvectormap.css">

    <!-- Daterange CSS -->
    <link rel="stylesheet" href="~/plugins/daterangepicker/css/daterangepicker.css">

    <!-- Bootstrap-select CSS -->
    <link rel="stylesheet" href="~/plugins/bootstrap-select/css/bootstrap-select.min.css">

    <!-- Summernote CSS -->
    <link rel="stylesheet" href="~/plugins/summernote/css/summernote.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="~/css/seipkon.css">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/css/responsive.css">

</head>


<body>

    <!-- Start Page Loading -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->
    <!-- Wrapper Start -->

    <partial name="_LoginPartial" />

    <div class="wrapper">



        @if (SignInManager.IsSignedIn(User))
        {
            <!-- Main Header Start -->
            <header class="main-header">
                <!-- Logo Start -->
                <div class="seipkon-logo">
                    <a href="index.html">
                        <img src="~/img/bugTrackerTransparent594x149.png" alt="logo">
                    </a>
                </div>
                <!-- Logo End -->
                <!-- Header Top Start -->
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="header-top-section">
                            <div class="pull-left">


                                <!-- Collapse Menu Btn Start -->
                                <button type="button" id="sidebarCollapse" class=" navbar-btn">
                                    <i class="fa fa-bars"></i>
                                </button>
                                <!-- Collapse Menu Btn End -->
                                <!-- Header Top Search Start -->
                                <div class="header-top-search">
                                    <form>
                                        <input type="search" placeholder="Search...">
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                                <!-- Header Top Search End -->

                            </div>
                            <div class="header-top-right-section pull-right">
                                <ul class="nav nav-pills nav-top navbar-right">


                                    <!-- Full Screen Btn Start -->
                                    <li>
                                        <a href="#" id="fullscreen-button">
                                            <i class="fa fa-arrows-alt"></i>
                                        </a>
                                    </li>
                                    <!-- Full Screen Btn End -->
                                    <!-- Message Toggle Start -->
                                    @*<li class="dropdown">
                                <a class="dropdown" href="#" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span>5</span>
                                </a>
                                <div class="message-box dropdown-menu animated bounceIn">
                                <div class="message-header">
                                <h4>5 new Message</h4>
                                <a href="#">mark as read</a>
                                </div>
                                <div class="message-body">
                                <ul>
                                <li>
                                <a href="#" class="single-message">
                                <div class="message-img">
                                <img src="~/img/msg-4.png" alt="message" />
                                <span class="online-message"></span>
                                </div>
                                <div class="message-txt">
                                <h4>David Johnson</h4>
                                <p>I like your portfolio, let's start.</p>
                                <span>56 seconds ago</span>
                                </div>
                                </a>
                                </li>
                                <li>
                                <a href="#" class="single-message">
                                <div class="message-img">
                                <img src="~/img/msg-1.png" alt="message" />
                                <span class="busy-message"></span>
                                </div>
                                <div class="message-txt">
                                <h4>Margaret Govan</h4>
                                <p>Can we have call in this week ?</p>
                                <span>14 hourse ago</span>
                                </div>
                                </a>
                                </li>
                                <li>
                                <a href="#" class="single-message">
                                <div class="message-img">
                                <img src="~/img/msg-3.png" alt="message" />
                                <span class="online-message"></span>
                                </div>
                                <div class="message-txt">
                                <h4>Emanual Doe</h4>
                                <p>A National Book Award Finalist An...</p>
                                <span>a day ago</span>
                                </div>
                                </a>
                                </li>
                                <li>
                                <a href="#" class="single-message">
                                <div class="message-img">
                                <img src="~/img/msg-2.png" alt="message" />
                                <span class="away-message"></span>
                                </div>
                                <div class="message-txt">
                                <h4>Eric Alsobrook</h4>
                                <p>A National Book Award Finalist An...</p>
                                <span>2 days ago</span>
                                </div>
                                </a>
                                </li>
                                </ul>
                                </div>
                                <div class="message-footer">
                                <a href="#"><i class="fa fa-angle-down"></i>see all messages</a>
                                </div>
                                </div>
                                </li>*@
                                    <!-- Message Toggle Start -->
                                    <!-- Notification Toggle Start -->
                                    @*<li class="dropdown">
                                <a class="dropdown cart-icon" href="#" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span>3</span>
                                </a>
                                <div class="notification-box dropdown-menu animated bounceIn">
                                <div class="notification-header">
                                <h4>3 new notification</h4>
                                <a href="#">clear all</a>
                                </div>
                                <div class="notification-body">
                                <ul>
                                <li>
                                <a href="#" class="single-notification">
                                <div class="notification-img bg_yellow">
                                <i class="fa fa-envelope-o"></i>
                                </div>
                                <div class="notification-txt">
                                <h4>you have received an email</h4>
                                <span>56 seconds ago</span>
                                </div>
                                </a>
                                </li>
                                <li>
                                <a href="#" class="single-notification">
                                <div class="notification-img bg_green">
                                <i class="fa fa-check"></i>
                                </div>
                                <div class="notification-txt">
                                <h4>Successful transaction of $210</h4>
                                <span>1 minutes ago</span>
                                </div>
                                </a>
                                </li>
                                <li>
                                <a href="#" class="single-notification">
                                <div class="notification-img bg_red">
                                <i class="fa fa-thumbs-up"></i>
                                </div>
                                <div class="notification-txt">
                                <h4>33 pending post for approval</h4>
                                <span>3 minutes ago</span>
                                </div>
                                </a>
                                </li>
                                <li>
                                <a href="#" class="single-notification">
                                <div class="notification-img bg_blue">
                                <i class="fa fa-comments-o"></i>
                                </div>
                                <div class="notification-txt">
                                <h4>2 new comments found</h4>
                                <span>5 minutes ago</span>
                                </div>
                                </a>
                                </li>
                                <li>
                                <a href="#" class="single-notification">
                                <div class="notification-img bg_green">
                                <i class="fa fa-truck "></i>
                                </div>
                                <div class="notification-txt">
                                <h4>order details confirmation</h4>
                                <span>43 seconds ago</span>
                                </div>
                                </a>
                                </li>
                                <li>
                                <a href="#" class="single-notification">
                                <div class="notification-img bg_yellow">
                                <i class="fa fa-envelope-o"></i>
                                </div>
                                <div class="notification-txt">
                                <h4>you have received an email</h4>
                                <span>56 seconds ago</span>
                                </div>
                                </a>
                                </li>
                                <li>
                                <a href="#" class="single-notification">
                                <div class="notification-img bg_green">
                                <i class="fa fa-check"></i>
                                </div>
                                <div class="notification-txt">
                                <h4>Successful transaction of $210</h4>
                                <span>1 minutes ago</span>
                                </div>
                                </a>
                                </li>
                                </ul>
                                </div>
                                <div class="notification-footer">
                                <a href="#"><i class="fa fa-angle-down"></i>see all notification</a>
                                </div>
                                </div>
                                </li>*@
                                    <!-- Notification Toggle End -->
                                    <!-- Profile Toggle Start -->
                                    <li class="dropdown">
                                        <a class="dropdown profile-toggle" href="#" data-toggle="dropdown">
                                            <img src="~/img/avatar.jpg" class="profile-avator" alt="admin profile" />
                                            <div class="profile-avatar-txt">
                                                <p>@btUser.FullName</p>
                                                <i class="fa fa-angle-down"></i>
                                            </div>
                                        </a>
                                        <div class="profile-box dropdown-menu animated bounceIn">
                                            <ul>
                                                <li><a asp-area="Identity" asp-page="/Account/Manage/Index"><i class="fa fa-user"></i> View profile</a></li>
                                                <li><a href="#"><i class="fa fa-pencil-square-o"></i> Edit profile</a></li>
                                                <li><a href="#"><i class="fa fa-flash"></i> Activity Log</a></li>
                                                <li><a href="#"><i class="fa fa-wrench"></i> Setting</a></li>
                                                <li>
                                                    <a href="javascript:document.getElementById('logoutForm').submit();"><i class="fa fa-power-off"></i> Sign out</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <!-- Profile Toggle End -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
                <!-- Header Top End -->
            </header>
            <!-- Main Header End -->
            <!-- Sidebar Start -->
            <aside class="seipkon-main-sidebar">
                <nav id="sidebar">
                    <!-- Sidebar Profile Start -->
                    <div class="sidebar-profile clearfix">
                        <div class="profile-avatar">
                            <img src="~/img/avatar.jpg" alt="profile" />
                        </div>
                        <div class="profile-info">
                            <h3>@btUser.FullName</h3>
                            <p>Welcome @(await RolesService.GetUserRoleAsync(btUser))</p>
                        </div>
                    </div>
                    <!-- Sidebar Profile End -->
                    <!-- Menu Section Start -->
                    <div class="menu-section">

                        <ul class="list-unstyled components">
                            <li class="active">
                                <a asp-area="" asp-controller="Home" asp-action="Dashboard" class="nav-link px-sm-0 px-2">
                                    <i class="fa fa-dashboard"></i>
                                    Dashboard
                                </a>
                            </li>

                            <li>
                                <a href="#projects" class="dropdown" data-toggle="collapse" aria-expanded="false">
                                    <i class="fa fa-laptop"></i>
                                    Projects
                                </a>
                                <ul class="collapse list-unstyled" id="projects">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Projects" asp-action="Create">New project...</a></li>
                                    @*<li><a class="dropdown-item" asp-area="" asp-controller="Projects" asp-action="Index">Index</a></li>*@
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Projects" asp-action="MyProjects">My Projects</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Projects" asp-action="AllProjects">All Projects</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Projects" asp-action="ArchivedProjects">Archived Projects</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Projects" asp-action="UnassignedProjects">Unassigned Projects</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="#tickets" data-toggle="collapse" aria-expanded="false">
                                    <i class="fa fa-ticket"></i>
                                    Tickets
                                </a>
                                <ul class="collapse list-unstyled" id="tickets">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Tickets" asp-action="Create">New ticket...</a></li>
                                    @*<li><a class="dropdown-item" asp-area="" asp-controller="Tickets" asp-action="Index">Index</a></li>*@
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Tickets" asp-action="MyTickets">My Tickets</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Tickets" asp-action="AllTickets">All Tickets</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Tickets" asp-action="ArchivedTickets">Archived Tickets</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Tickets" asp-action="UnassignedTickets">Unassigned Tickets</a></li>
                                </ul>
                            </li>

                            @if (User.IsInRole(nameof(BTRoles.Admin)))
                            {
                                <li>
                                    <a href="#mail" data-toggle="collapse" aria-expanded="false">
                                        <i class="fa fa-envelope"></i>
                                        Invites
                                    </a>
                                    <ul class="collapse list-unstyled" id="mail">
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Invites" asp-action="Create">Invite to Project</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Invites" asp-action="Index">List of Invites</a></li>
                                    </ul>
                                </li>
                            }
                        </ul>
                    </div>
                    <!-- Menu Section End -->
                </nav>
            </aside>
            <!-- End Sidebar -->
        }

        <!-- Right Side Content Start -->
        <section id="content" class="seipkon-content-wrapper">
            <div class="page-content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>

            <!-- Footer Area Start -->
            <footer class="seipkon-footer-area">
                &copy; 2021 - TheBugTracker -
            </footer>
            <!-- End Footer Area -->

        </section>
        <!-- End Right Side Content -->

    </div>
    <!-- End Wrapper -->
    <!-- jQuery -->
    <script src="~/js/jquery-3.1.0.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/plugins/bootstrap/bootstrap.min.js"></script>

    <!-- Bootstrap-select JS -->
    <script src="~/plugins/bootstrap-select/js/bootstrap-select.min.js"></script>

    <!-- Daterange JS -->
    <script src="~/plugins/daterangepicker/js/moment.min.js"></script>
    <script src="~/plugins/daterangepicker/js/daterangepicker.js"></script>

    <!-- Jvector JS -->
    <script src="~/plugins/jvector/js/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/plugins/jvector/js/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/plugins/jvector/js/jvector-init.js"></script>

    <!-- Raphael JS -->
    <script src="~/plugins/raphael/js/raphael.min.js"></script>

    <!-- Morris JS -->
    <script src="~/plugins/morris/js/morris.min.js"></script>

    <!-- Sparkline JS -->
    <script src="~/plugins/sparkline/js/jquery.sparkline.js"></script>

    <!-- Chart JS -->
    <script src="~/plugins/charts/js/Chart.js"></script>

    <!-- Datatables -->
    <script src="~/plugins/datatables/js/jquery.dataTables.min.js"></script>

    <!-- Perfect Scrollbar JS -->
    <script src="~/plugins/perfect-scrollbar/jquery-perfect-scrollbar.min.js"></script>

    <!-- Vue JS -->
    <script src="assets/plugins/vue/vue.min.js"></script>

    <!-- Summernote JS -->
    <script src="~/plugins/summernote/js/summernote.js"></script>
    <script src="~/plugins/summernote/js/custom-summernote.js"></script>

    <!-- Dashboard JS -->
    <script src="~/js/dashboard.js"></script>

    <!-- Custom JS -->
    <script src="~/js/seipkon.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>