@model GenesisBugTracker.Models.ViewModels.AddTicketAttachmentViewModel

@using GenesisBugTracker.Services.Interfaces
@using Microsoft.AspNetCore.Identity

@inject IBTFileService BTFileService
@inject UserManager<BTUser> UserManager


@{
    ViewData["Title"] = "Details";
    BTUser btUser = await UserManager.GetUserAsync(User);
}

<h1>Ticket Details</h1>

<div>
    <div class="container-fluid">
        <div class="row gy-2">
            <div class="col-md-12 col">
                <div class="row col-cols-2 mt-5 bg-secondary">
                    <div class="card col m-1 p-2">
                        <div class="card-body">
                            @*Title of Ticket*@
                            <h5>@Html.DisplayNameFor(model => model.Ticket!.Title)</h5>
                            <p>@Html.DisplayFor(model => model.Ticket!.Title)</p>
                            @*Description of Ticket*@
                            <h5>@Html.DisplayNameFor(model => model.Ticket!.Description)</h5>
                            <p>@Html.DisplayFor(model => model.Ticket!.Description)</p>

                            <div class="progress-container progress-info m-b-25">
                                <span class="progress-badge" style="font-size:small">Project Timeline Elapsed:</span>
                                <div class="progress">
                                    @* Razor code block *@
                                    @{
                                        var start = Model.Ticket!.Project!.StartDate.Date;
                                        var end = Model.Ticket!.Project.EndDate.Date;
                                        var today = DateTime.Now;
                                        var percent = today >= end ? 100 : today < start ? 0 : Math.Round((today.Subtract(start)) / (end.Subtract(start)) * 100);
                                    }
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @percent%;">
                                        @* Use Progress Bar code variable here *@
                                        <span class="progress-value">@percent%</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card col m-1 p-2">
                        <div class="card-body">
                            <ul class="list-unstyled">
                                @*Ticket date*@
                                <li><strong>Date Entered:</strong> <span class=""> @Html.DisplayFor(model => model.Ticket!.Created)</</span></li>
                                @*Project end date*@
                                <li><strong>Deadline:</strong> <span class="">@Model.Ticket.Project.EndDate</</span></li>
                                @*Ticket type*@
                                <li><strong>Type:</strong> <span class="">@Html.DisplayFor(model => model.Ticket!.TicketType!.Name)</span></li>
                                @*Ticket priority*@
                                <li><strong>Priority:</strong> <span class="">@Html.DisplayFor(model => model.Ticket!.TicketPriority!.Name)</span></li>
                                @*Ticket status*@
                                <li><strong>Status:</strong> <span class="">@Html.DisplayFor(model => model.Ticket!.TicketStatus!.Name)</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col col-cols-2 mt-5 ">
                <div class="col">
                    <div class="bg-secondary">
                        <div class="card m-1 p-2">
                            <div class="card-header">
                                <h2>Comments</h2>
                            </div>
                            <div class="card-body" style="overflow-y:auto;height:600px;">

                                @*Form and Logic for authorized users to add comments*@
                                <hr />
                                <h6>Comments</h6>
                                <ul class="right_chat list-unstyled mb-0">
                                    @*Loop to show comments made for the Ticket*@
                                </ul>
                            </div>
                            <div class="card-footer">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="bg-secondary">
                        <div class="card m-1 p-2">
                            <div class="card-header">
                                <h2>Attachments</h2>
                            </div>
                            <div class="card-body" style="overflow-y:auto;height:300px;">

                                @* Refer to the Ticket Attachments document for this section *@

                                <div class="row clearfix">
                                    <div>
                                        <form asp-action="AddTicketAttachment" asp-controller="Tickets" enctype="multipart/form-data" method="post">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <input type="hidden" asp-for="@Model.Ticket.Id" name="TicketId" />
                                            <input type="hidden" asp-for="@Model.UserId" name="UserId" />
                                            <div class="media-body ml-3">
                                                <label>
                                                    Description
                                                    <input asp-for="@(new TicketAttachment().Description)" type="text" class="form-control" />
                                                </label>
                                                <br />
                                                <label class="btn btn-outline-primary btn-sm">
                                                    <input asp-for="@(new TicketAttachment().FormFile)" type="file" class="form-control-file" />
                                                </label>
                                                <button type="submit" class="btn btn-outline-secondary btn-sm btn-md-flat">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>


                                @* Ticket attachments part 2 here *@
                                <hr />
                                <h6>Attachments</h6>
                                <div class="container">
                                    <div class="row">
                                        @foreach (TicketAttachment item in Model.Ticket.Attachments)
                                        {
                                            <div class="col col-sm-2">
                                                <a asp-action="ShowFile" asp-controller="Tickets" asp-route-Id="@item.Id">
                                                    <div class="icon">
                                                        <img src="@BTFileService.GetFileIcon(item.FileName!)" style="height:50px;width:50px" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="@item.FileName" />
                                                    </div>
                                                </a>
                                                <div style="font-size:x-small">
                                                    <div class="file-name">
                                                        <strong>@item.Description</strong>
                                                    </div>
                                                    <small>Size: @BTFileService.FormatFileSize(item.FileData!.Length) </small>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col mt-5 ">
                <div class="bg-dark">
                    <div class="card m-1 p-2">
                        <div class="card-header">
                            <h2>History</h2>
                            <hr />
                        </div>
                        <div class="card-body" style="overflow-y:auto;height:1000px;background-color:antiquewhite">
                            @*Loop to show the history entries for the Ticket*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
