@model IEnumerable<GenesisBugTracker.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<br />
<h4>Index includes only unarchived tickets.</h4>
<br />
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketPriority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubmitterUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeveloperUser)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="link-primary">
                        @Html.DisplayFor(modelItem => item.Title)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Updated)
                </td>
                <td>
                    <a asp-controller="Projects" asp-action="Details" asp-route-id="@item.ProjectId" class="link-primary">
                        @Html.DisplayFor(modelItem => item.Project!.Name)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketPriority!.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketStatus!.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketType!.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubmitterUser!.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeveloperUser!.FullName)
                </td>
                <td>
                    <div class="row-col-1">
                        <a asp-action="Details" asp-route-id="@item.Id" class="page-table-success" data-toggle="tooltip" title="View"><i class="fa fa-eye"></i></a>

                        <a asp-action="Edit" asp-route-id="@item.Id" class="page-table-info" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>

                        <a asp-action="Archive" asp-route-id="@item.Id" class="page-table-info" data-toggle="tooltip" title="Archive"><i class="fa fa-archive"></i></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
