@model IEnumerable<GenesisBugTracker.Models.Invite>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<br />
<h4>
    <a asp-action="Create" class="link-primary">Invite someone to project</a>
</h4>

<div class="row">
    <div class="col-md-12">
        <div class="page-box">
            <div class="table-responsive">
                <table id="product-order" class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.InviteDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.JoinDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.InviteeEmail)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.InviteeFirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.InviteeLastName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Message)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Company)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Project)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Invitor)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.InviteDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.JoinDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.InviteeEmail)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.InviteeFirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.InviteeLastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Message)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Company.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Project.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Invitor.FullName)
                                </td>
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>