@model GenesisBugTracker.Models.ViewModels.DashboardViewModel
@using GenesisBugTracker.Extensions
@using GenesisBugTracker.Models.Enums
@using Microsoft.AspNetCore.Identity
@using GenesisBugTracker.Services.Interfaces

@inject UserManager<BTUser> UserManager
@inject IBTTicketService TicketService
@inject IBTProjectService ProjectService

@{
    int companyId = User.Identity!.GetCompanyId();
    BTUser btUser = await UserManager.GetUserAsync(User);
    List<Ticket> archivedTickets = await TicketService.GetAllArchivedTicketsAsync(companyId);
    List<Project> unassignedProjects = await ProjectService.GetUnassignedProjectsAsync(companyId);
    List<Project> archivedProjects = await ProjectService.GetAllArchivedProjectsAsync(companyId);
    List<Project> userProjects = await ProjectService.GetUserProjectsAsync(btUser.Id);
}



<div class="row mb-4">
    <div class="col-md-12">
        <div class="breadcromb-area">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-left">
                        <h3>Dashboard</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Info Pills -->
<div class="row my-3">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <a asp-action="AllTickets" asp-controller="Tickets" style="text-decoration:none">
            <div class="widget_card_page grid_flex widget_bg_dark_blue">
                <div class="widget-icon">
                    <i class="fa fa-ticket"></i>
                </div>
                <div class="widget-page-text">
                    <h4>@(Model.Tickets!.Count() + archivedTickets.Count())</h4>
                    <h2>Total Tickets</h2>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <a asp-action="UnassignedTickets" asp-controller="Tickets" style="text-decoration:none">
            <div class="widget_card_page grid_flex widget_bg_dark_yellow">
                <div class="widget-icon">
                    <i class="fa fa-ticket"></i>
                </div>
                <div class="widget-page-text">
                    <h4>@Model.Tickets!.Where(t => string.IsNullOrEmpty(t.DeveloperUserId)).Count()</h4>
                    <h2>Unassigned Tickets</h2>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <a asp-action="ArchivedTickets" asp-controller="Tickets" style="text-decoration:none">
            <div class="widget_card_page grid_flex widget_bg_dark_purple">
                <div class="widget-icon">
                    <i class="fa fa-ticket"></i>
                </div>
                <div class="widget-page-text">
                    <h4>@archivedTickets.Count()</h4>
                    <h2>Archived Tickets</h2>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <a asp-action="MyTickets" asp-controller="Tickets" style="text-decoration:none">
            <div class="widget_card_page grid_flex widget_bg_dark_red">
                <div class="widget-icon">
                    <i class="fa fa-ticket"></i>
                </div>
                <div class="widget-page-text">
                    <h4>@Model.Tickets!.Where(t => t.DeveloperUserId == btUser.Id).Count()</h4>
                    <h2>My Tickets</h2>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="row my-3">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <a asp-action="AllProjects" asp-controller="Projects" style="text-decoration:none">
            <div class="widget_card_page grid_flex widget_bg_blue">
                <div class="widget-icon">
                    <i class="fa fa-cog"></i>
                </div>
                <div class="widget-page-text">
                    <h4>@Model.Projects!.Count()</h4>
                    <h2>Total Projects</h2>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <a asp-action="UnassignedProjects" asp-controller="Projects" style="text-decoration:none">
            <div class="widget_card_page grid_flex widget_bg_yellow">
                <div class="widget-icon">
                    <i class="fa fa-cog"></i>
                </div>
                <div class="widget-page-text">
                    <h4>@unassignedProjects.Count()</h4>
                    <h2>Unassigned Projects</h2>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <a asp-action="ArchivedProjects" asp-controller="Projects" style="text-decoration:none">
            <div class="widget_card_page grid_flex widget_bg_purple">
                <div class="widget-icon">
                    <i class="fa fa-cog"></i>
                </div>
                <div class="widget-page-text">
                    <h4>@archivedProjects.Count()</h4>
                    <h2>Archived Projects</h2>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <a asp-action="MyProjects" asp-controller="Projects" style="text-decoration:none">
            <div class="widget_card_page grid_flex widget_bg_red">
                <div class="widget-icon">
                    <i class="fa fa-cog"></i>
                </div>
                <div class="widget-page-text">
                    <h4>@userProjects.Count()</h4>
                    <h2>My Projects</h2>
                </div>
            </div>
        </a>
    </div>
</div>

<!-- Right Side Content Start -->
<div class="row">
    <div class="col">
        <!-- Chart Row Start -->
        <div class="row">
            <div class="col-md-6">
                <div class="page-box">

                    <div class="card-body">
                        <h5>Tickets by Status</h5>
                        <p></p>
                        <!-- Morris: Donut -->
                        <div class="col-md-12">
                            <div class="chart chart-md" id="morrisTicketStatus"></div>
                        </div>
                        <div class="col-md-12">
                            <div id="legend_ticket_status" class="donut-legend" style="font-size:x-small"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="page-box">

                    <div class="card-body">
                        <h5>Tickets by Priority</h5>
                        <p></p>
                        <!-- Morris: Donut -->
                        <div class="col-md-12">
                            <div class="chart chart-md" id="morrisTicketPriority"></div>
                        </div>
                        <div class="col-md-12">
                            <div id="legend_ticket_priority" class="donut-legend" style="font-size:x-small"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Chart Row -->
    </div>
</div>




<div class="row my-3">
    <div class="col">
        <div class="table-responsive" style="overflow-y:auto;height:600px">
            <table class="table display table-hover">
                <thead class="" style="position:sticky; top:0">
                    <tr>
                        @* Table header *@
                        <th>Title</th>
                        <th>Developer</th>
                        <th>Status</th>
                        <th>Priority</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @* Table body *@
                    @foreach (Ticket ticket in Model.Tickets!)
                    {
                        <tr>
                            <td><a asp-action="Details" asp-controller="Tickets" asp-route-id="@ticket.Id" style="color:black"><strong>@ticket.Title</strong></a> </td>
                            <td>
                                @if (ticket.DeveloperUserId != null)
                                {
                                    @ticket.DeveloperUser?.FullName
                                }
                                else
                                {
                                    if (User.IsInRole(nameof(BTRoles.Admin)) || User.IsInRole(nameof(BTRoles.ProjectManager)))
                                    {
                                        <a class="btn btn-xs btn-info" asp-action="AssignDeveloper" asp-controller="Tickets" asp-route-id="@ticket.Id">Assign Dev</a>
                                    }
                                }
                            </td>
                            @if (ticket.TicketStatus!.Name == BTTicketStatuses.New.ToString())
                            {
                                <td><span class="badge bg-success">@ticket.TicketStatus.Name </span></td>
                            }
                            else
                            {
                                <td><span class="badge bg-primary">@ticket.TicketStatus.Name </span></td>
                            }

                            @if (ticket.TicketPriority!.Name == BTTicketPriorities.Urgent.ToString())
                            {
                                <td><span class="badge bg-danger">@ticket.TicketPriority!.Name </span></td>
                            }
                            else
                            {
                                <td><span class="badge bg-secondary">@ticket.TicketPriority!.Name </span></td>
                            }
                            
                            <td>@ticket.Created.ToString("MM-dd-yyyy")</td>
                            <td>
                                <div class="row-col-1">
                                    <a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id" class="page-table-success" data-toggle="tooltip" title="View"><i class="fa fa-eye"></i></a>

                                    <a asp-controller="Tickets" asp-action="Edit" asp-route-id="@ticket.Id" class="page-table-info" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>

                                    <a asp-controller="Tickets" asp-action="Archive" asp-route-id="@ticket.Id" class="page-table-info" data-toggle="tooltip" title="Archive"><i class="fa fa-archive"></i></a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>








@section Scripts {
                                Morris Donut Chart
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

    <script>

        var morrisDonutData_Status = [{
            label: "New",
            value: @Model.Tickets.Where(t=>t.TicketStatus.Name == nameof(BTTicketStatuses.New)).Count()
                                                                                                            }, {
            label: "Development",
            value: @Model.Tickets.Where(t=>t.TicketStatus.Name == nameof(BTTicketStatuses.Development)).Count()
                                                                                                            }, {
            label: "Testing",
            value: @Model.Tickets.Where(t=>t.TicketStatus.Name == nameof(BTTicketStatuses.Testing)).Count()
                                                                                                            }, {
            label: "Resolved",
            value: @Model.Tickets.Where(t=>t.TicketStatus.Name == nameof(BTTicketStatuses.Resolved)).Count()
                                                                                                            }];


        /*
        Morris: Donut
        */
        if ($('#morrisTicketStatus').get(0)) {
            var donutChart = Morris.Donut({
                resize: true,
                element: 'morrisTicketStatus',
                data: morrisDonutData_Status,
                colors: ['#0088cc', '#734ba9', '#E36159', '#ff993b']
            });

            donutChart.options.data.forEach(function(label, i) {
                var legendItem = $('<span></span>').text(label['label'] + ": " + label['value']).prepend('<span>&nbsp;</span>');
                legendItem.find('span')
                    .css('backgroundColor', donutChart.options.colors[i])
                    .css('width', '20px')
                    .css('display', 'inline-block')
                    .css('margin', '10px');
                $('#legend_ticket_status').append(legendItem)
            });
        };
    </script>

    <script>

        var morrisDonutData_Priority = [{
            label: "Low",
            value: @Model.Tickets.Where(t=>t.TicketPriority.Name == nameof(BTTicketPriorities.Low)).Count()
                                                                                                            }, {
            label: "Medium",
            value: @Model.Tickets.Where(t=>t.TicketPriority.Name == nameof(BTTicketPriorities.Medium)).Count()
                                                                                                            }, {
            label: "High",
            value: @Model.Tickets.Where(t=>t.TicketPriority.Name == nameof(BTTicketPriorities.High)).Count()
                                                                                                            }, {
            label: "Urgent",
            value: @Model.Tickets.Where(t=>t.TicketPriority.Name == nameof(BTTicketPriorities.Urgent)).Count()
                                                                                                            }];


        /*
        Morris: Donut
        */
        if ($('#morrisTicketPriority').get(0)) {
            var donutChart = Morris.Donut({
                resize: true,
                element: 'morrisTicketPriority',
                data: morrisDonutData_Priority,
                colors: ['#0088cc', '#734ba9', '#E36159', '#ff993b']
            });

            donutChart.options.data.forEach(function(label, i) {
                var legendItem = $('<span></span>').text(label['label'] + ": " + label['value']).prepend('<span>&nbsp;</span>');
                legendItem.find('span')
                    .css('backgroundColor', donutChart.options.colors[i])
                    .css('width', '20px')
                    .css('display', 'inline-block')
                    .css('margin', '10px');
                $('#legend_ticket_priority').append(legendItem)
            });
        };
    </script>
}